In [2]:
string = '{"first_name":"John", "last_name":"Willems"}'

In [48]:
import json
parsed_string = json.loads(string)
print(parsed_string['first_name'])

John

In [4]:
print(parsed_string['first_name'])

John

In [18]:
d = {'first_name': 'Guido',
    'second_name': 'Rossum',
    'titles': ['BDFL', 'Developer'],
    }

In [20]:
d["titles"][1]

'Developer'

In [21]:
data = {
   'name' : 'ACME',
   'shares' : 100,
   'price' : 542.23
}

In [43]:
data = [ { 'z':'A', 'c':3.0 ,'b':(2, 4)} ]
print(json.dumps(data,sort_keys=False))
sorted = json.dumps(data,sort_keys=True, indent=2, separators=(',',''))
print(sorted)

[{"c": 3.0, "b": [2, 4], "z": "A"}]
[
  {
    "b":[
      2,
      4
    ],
    "c":3.0,
    "z":"A"
  }
]

In [46]:
encoder = json.JSONEncoder()
for part in encoder.iterencode(data):
    print(part)

[
{
"c"
:
3.0
,
"b"
:
[2
, 4
]
,
"z"
:
"A"
}
]

In [76]:
class Employee(object):
    def __init__(self,name1, name2):
        self.name1 = name1
        self.name2 = name2
    def toJSON(self):
        return json.dumps(self, default=lambda o: o.__dict__, 
            sort_keys=True, indent=4)

In [81]:
ader = Employee('Olifant', 'aap')
json.loads(ader.toJSON())['name2']

'aap'